<!doctype = html>
<html>
<head>
  <title>City Map</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="shortcut icon" href="{{ url_for('static', filename='city_stop_mini.png') }}" />
  <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}" />
</head>
<body>
  <div id="map-wrapper">
    <div id="map">

    </div>
    <aside id="sidebar">
      <img id="logo" src="{{url_for('static', filename='city_map_logo.png')}}" />
      <div class="dropdown" id="error-insert">
        <button class="dropbtn" data-bind="text: selection"></button>
        <div class="dropdown-content">
          <ul id="filter-options" data-bind="foreach: stopTypeList">
            <!-- ko if: $parent.selection() !== $data -->
            <li id="filter-option" data-bind="text: $data, click: $parent.changeSelection"></li>
            <!-- /ko -->
          </ul>
        </div>
      </div>
      <ul id="stop-list" data-bind="foreach: activeMarkerList">
        <li class="stop" data-bind="text: title, click: $parent.showInfo"></li>
      </ul>
      <p>
        Images courtesy of Foursquare.
      </p>
    </aside>
  </div>
  <script defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyByn9zMoXOQDzWMbCVG986aQ6Op9Tp-gC8&v=3&callback=initMap" onerror="noMap()"></script>
  <script src="{{url_for('static', filename='jquery.min.js')}}"></script>
  <script src="{{url_for('static', filename='knockout-3.2.0.js' )}}"></script>
  <script src="{{url_for('static', filename='map.js')}}"></script>
  <script src="{{url_for('static', filename='app.js')}}"></script>
</body>
</html>
